.input {
  background: none;
  background-color: transparent;
  padding-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  transition:
    border-color 0.4s ease,
    box-shadow 0.4s ease;

  &:focus {
    border-bottom-color: #aaa;
    box-shadow: rgba(#aaa, 0.2) 0 1px;
  }
}
