.items {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  color: #fff;

  th {
    padding-bottom: 30px;

    span {
      background-color: rgba(#000, 0.2);
      padding: 3px 7px 1px;
      border-radius: 2px;
    }
  }

  td {
    padding: 20px 20px;
    text-align: center;

    &:last-child {
      width: 1%;
    }
  }
}

.item {

  &:nth-child(odd) {
    background-color: rgba(#000, 0.05);
  }
}

.name {
  text-transform: uppercase;
}

.button {
  padding: 0 20px;
  background-color: #202442;
  cursor: pointer;
  user-select: none;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.05);
  }
}
