body {
  background-color: #3634da;
  font-family: Roboto;
}

button {
  border: 0;
  outline: none;
  background: none;
}

input {
  font-family: Roboto;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
