body {
  background-color: #414096;
  font-family: Roboto, sans-serif;

  &::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
    background: linear-gradient(30deg, #3625d3 50%, #6fb8fc);
  }
}

button {
  border: 0;
  outline: none;
  background: none;
  font-family: Roboto, sans-serif;
}

input {
  font-family: Roboto, sans-serif;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

input:invalid,
input:-moz-submit-invalid,
input:required {
  box-shadow: none;
}


.app {
  position: relative;
  padding: 0 20px 200px;
  z-index: 10;
}

.mainAvatar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  box-shadow: rgba(#000, 0.3) 5px 5px 0 2px;
}
